---
import { Image } from 'astro:assets'
import desktopTitle from '../../images/desktop-title.svg'
---

<h1>
  <Image src={desktopTitle} alt='title' />
</h1>

<style>
  h1 {
    margin: 0;
    padding-top: 1rem;
  }

  img {
    width: 100%;
    height: auto;
  }
</style>
