---
import MenuSection from './MenuSection.astro'
const { data } = Astro.props
---

{data['special'] && <div>specials</div>}
<MenuSection
  title='Appetizers and Slices'
  items={[...data['appetizer'], ...data['slice']]}
/>
<MenuSection title={`14" NY Style Pizza (Serves 2-3)`} items={data['pizza']} />
<MenuSection title={`12" Gluten-Free Pizza (Serves 2)`} items={data['gf']} />
