---
const { title, items } = Astro.props
---

<div>
  <h2>{title}</h2>
  <div>
    {
      items.map((row) => (
        <div>
          {row.name} - {row.description} = {row.price}
        </div>
      ))
    }
  </div>
</div>

<style>
  h2 {
    font-family: SignPainter-ShowcardStunt, cabin, sans-serif;
    font-weight: 400px;
    font-size: 36px;
  }
</style>
