---
const { title, items } = Astro.props
---

<div>
  <h2>{title}</h2>
  <ul>
    {
      items.map((row) => (
        <li>
          {row.price}&nbsp;
          <span class='font-weight-bold'>{row.name}</span>:&nbsp;
          {row.description}
        </li>
      ))
    }
  </ul>
</div>

<style>
  h2 {
    font-family: SignPainter-ShowcardStunt, cabin, sans-serif;
    font-weight: 400px;
    font-size: 36px;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  li:not(:last-child) {
    margin-bottom: 10px;
  }
</style>
