---
const { title, items } = Astro.props
---

<div>
  <h2>{title}</h2>
  <ul>
    {
      items.map((row) => (
        <li>
          <div>{row.price}</div>
          <div class='font-weight-bold'>{row.name}</div>
          <div>{row.description}</div>
        </li>
      ))
    }
  </ul>
</div>

<style>
  h2 {
    font-family: SignPainter-ShowcardStunt, cabin, sans-serif;
    font-weight: 400px;
    font-size: 36px;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    display: flex;
    flex-flow: row wrap;
    column-gap: 1rem;

    @media (width > 500px) {
      display: grid;
      grid-template-columns: 30px 170px auto;
      column-gap: 1rem;
    }
  }

  li:not(:last-child) {
    margin-bottom: 10px;
  }
</style>
