---
const { text, id } = Astro.props
---

<button {id}>
  {text}
</button>

<style>
  button {
    border: 3px solid var(--red);
    border-radius: 10px;
    color: var(--red);
    background-color: transparent;
    width: 300px;
    height: 100px;
    outline: none;
    font-family: cabin, sans-serif;
    font-size: 32px;
  }
</style>
