---
import Banner from '../components/Banner.astro'
import DesktopHeader from '../components/DesktopHeader/index.astro'
import Layout from '../layouts/Layout.astro'
import AnnouncementsAndMenu from '../components/AnnouncementsAndMenu.astro'
---

<Layout>
  <DesktopHeader />
  <Banner />
  <main>
    <AnnouncementsAndMenu />
  </main>
</Layout>

<style>
  /**
    Always show vertical scrollbar on desktop page 
    so that adding dynamic content to page does not
    then make scrollbar appear and shift page content
  */
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }
</style>
