---
import Layout from '../layouts/Layout.astro'
import Spinner from '../components/Spinner.astro'
---

<Layout>
  <main>
    <Spinner />
  </main>
</Layout>

<style>
  main {
    align-items: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
  }
</style>

<script is:inline>
  // route user to desktop or mobile page depending on screen width
  if (window.innerWidth >= 500) {
    window.location.href = '/desktop'
  } else {
    window.location.href = '/mobile-landing'
  }
</script>
