---
import Layout from '../layouts/Layout.astro'
import MobileHeader from '../components/MobileHeader/index.astro'
import Buttons from '../components/Buttons/index.astro'
---

<Layout>
  <MobileHeader />
  <main>
    <Buttons />
  </main>
</Layout>

<style>
  main {
    padding-bottom: 1rem;
  }
</style>
