---
import { Image } from 'astro:assets'
import mobileTitle from '../../images/mobile-title.svg'
---

<h1>
  <Image src={mobileTitle} alt='title' />
</h1>

<style>
  h1 {
    margin: 0;
  }

  img {
    width: 100%;
    height: auto;
  }
</style>
