---
const { text } = Astro.props
---

<div>{text}</div>

<style>
  div {
    animation: fadeIn 750ms;
    background-color: var(--red);
    color: white;
    margin: 0 -1rem;
    padding: 2rem;
  }
</style>
