<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content="Website for Lil Nonna's Pizzeria" />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <link
      href='https://fonts.googleapis.com/css2?family=Cabin&display=swap'
      rel='stylesheet'
    />
    <title>Lil Nonna's Pizzeria</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --red: #e73628;
    --red-hover: color-mix(in oklab, var(--red) 75%, black);
    --background-color: #ecebea;
  }

  html {
    font-size: 20px;
    font-family: Cabin, sans-serif;
  }

  body {
    margin: 1rem;
    /* padding: 0 0.5rem; */
  }

  @font-face {
    font-family: 'SignPainter-HouseShowcard';
    src:
      url('/fonts/SignPainter-HouseShowcard.woff2') format('woff2'),
      url('/fonts/SignPainter-HouseShowcard.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'SignPainter-HouseBrush';
    src:
      url('/fonts/SignPainter-HouseBrush.woff2') format('woff2'),
      url('/fonts/SignPainter-HouseBrush.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'SignPainter-ShowcardStunt';
    src:
      url('/fonts/SignPainter-ShowcardStunt.woff2') format('woff2'),
      url('/fonts/SignPainter-ShowcardStunt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  /* Utility Classes */
  .font-weight-bold {
    font-weight: bold;
  }
</style>
