<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content="Website for Lil Nonna's Pizzeria" />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <link
      href='https://fonts.googleapis.com/css2?family=Cabin&display=swap'
      rel='preconnect'
      crossorigin
    />
    <title>Lil Nonna's Pizzeria</title>

    <!--See Banner.astro, where we define images to be preloaded-->
    <slot name='banner-component' />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --red: #e73628;
    --red-hover: color-mix(in oklab, var(--red) 75%, black);
    --background-color: #ecebea;
  }

  html {
    font-size: 20px;
    font-family: Cabin, sans-serif;
    height: 100%;
  }

  body {
    margin: 1rem auto 2rem auto;
    max-width: 2000px;

    @media (width < calc(2000px - 16px)) {
      margin: 1rem 1rem 2rem 1rem;
    }
  }
  main {
    padding-bottom: 1rem;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @font-face {
    font-family: 'SignPainter-ShowcardStunt';
    src:
      url('/fonts/SignPainter-ShowcardStunt.woff2') format('woff2'),
      url('/fonts/SignPainter-ShowcardStunt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  /* Utility Classes */
  .font-weight-bold {
    font-weight: bold;
  }
</style>
