---
import MobileTitle from '../components/MobileTitle.astro'
import MobileContactInfo from '../components/MobileContactInfo.astro'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content="Website for Lil Nonna's Pizzeria" />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <link
      href='https://fonts.googleapis.com/css2?family=Cabin&display=swap'
      rel='stylesheet'
    />
    <title>Lil Nonna's Pizzeria</title>
  </head>
  <body>
    <!-- <MobileTitle />
    <MobileContactInfo /> -->
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --red: #e73628;
    --background-color: #ecebea;
  }

  html {
    background-color: var(--background-color);
    font-size: 20px;
    font-family: Cabin, sans-serif;
  }

  body {
    margin: 0;
  }
</style>
